html body {
  margin: auto;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  background-color: #ff4545;
  color: white;
  min-height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 0px;
}

.title {
  color: white;
  text-decoration: none;
  text-decoration: underline;
  padding-left: 1%;
  font-weight: bold;
  font-size: 1.5em;
}
.content {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.content > .numbers {
  flex: 2;
}
.content > .maps {
  flex: 2;
}

.content > .hero {
  background: url(./nepal.jpeg);
  flex: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  background-size: cover;
  background-position: center;
}
.hero > .selection {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.suggestion {
  z-index: 2;
}
.suggestion > div {
  border-radius: 0px;
  padding: 12px 0;
}
.selection > .dropdown {
  flex: 2;
}

.selection > .button {
  flex: 1;
  width: 90%;
}

.btn-primary {
  color: white;
  border-style: none;
  cursor: pointer;
  background-color: #ff4545;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 17px 0;
  box-sizing: border-box;
  border: none;
  width: 100%;
  outline: 0;
}

@media screen and (max-width: 700px) {
  .hero > .selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .selection > .dropdown {
    flex: 1;
    width: 90%;
  }

  .selection > .button {
    flex: 1;
    margin: 1%;
    width: 90%;
  }

  .btn-primary {
    border-radius: 5px;
  }
}

.lds-hourglass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 999;
  width: 100%;
  background: #d32a2a;
  position: absolute;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
