.no-padding-column {
  padding: 0px !important;
}
.test {
  font-size: 20px;
  border-radius: 0px !important;
}
.center {
  width: 60% !important;
}
.content {
  background-color: red;
  background-repeat: no-repeat;
  height: 150px;
  width: '100%';
  background-size: 100% 100%;
}
